.banner-image{
    background-image: url('https://via.placeholder.com/1105x301.png?text=Banner Image');
    width: 100%;
    height: 310px;
    @media (max-width: 999px) {      
        background-image: url('https://via.placeholder.com/330x130.png?text=Banner Image');
    }
    @media (max-width: 1024px) {
        height: 130px;
        background-image: url('https://via.placeholder.com/330x130.png?text=Banner Image');
    }


}
.advertisements{
    padding: 1rem 1rem!important;
.ad1{
    background-image: url(https://via.placeholder.com/200x300.png?text=Ad1);
    height: 300px;
    margin-bottom: 10px;
}
.ad2{
    background-image: url(https://via.placeholder.com/200x300.png?text=Ad2);
    height: 300px;
}

}

.news-a{
    h5{
        color: white;
        text-decoration: none;
        cursor: pointer;

        overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    }
}

.latest-news-home{
    height: 65px;
}
a,a:hover{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.a-black{
    a{
        color:black;
    }
}


.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }