  <div class="flash-news-banner">
          <div class="container">
            <div class="d-lg-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center mqstyle">
                <span class="badge badge-dark me-3">Flash news</span>
                 <p class="mb-0" onclick="window.location.href = '/news?category=flahsnews&id=F061120221'">
     <!-- <marquee >
<p>In a gruesome incident a minor boy has killed  4 of his family members in Dhalai district, Tripura</p>
       {{dateFormat now "dddd, MMM Do YYYY"}} 
        </marquee>-->
    </p>
               
              </div>
              <div class="d-flex">
                <span class="text-danger me-2">Nov 13th 2022 </span>               
                <span class="text-danger">32°C,Agartala</span>
              </div>
            </div>
          </div>
        </div>