<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
     <title>Northeast Herald.com</title>
    <!-- End Required meta tags -->
     <!-- plugin css for this page -->
    <link
      rel="stylesheet"
      href="vendors/mdi/css/materialdesignicons.min.css"
    />
    <link rel="stylesheet" href="vendors/aos/dist/aos.css/aos.css" />
    <!-- End plugin css for this page -->
     <!-- inject:css -->
    <link rel="stylesheet" href="stylesheets/style.css">
    <!-- endinject -->

</head>

<body>
     <div class="container-scroller">
      <div class="main-panel">
        {{>header}} 
         {{>flashnews}}  
         <div class="content-wrapper">
                {{{body}}}
        </div>
        {{>footer}}    
      </div>
    </div>
    
   
    <!-- inject:js -->
    <script src="vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="vendors/aos/dist/aos.js/aos.js"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src="javascripts/demo.js"></script>
    <script src="javascripts/jquery.easeScroll.js"></script>
  <script src="//cdn.jsdelivr.net/npm/share-buttons/dist/share-buttons.js"></script>
    <!-- End custom js for this page-->
   
</body>
</html>