<div class="container">
      <div class="col-sm-12 news">
         <div class="card-body">
                <h1 class="m-3">About Tripura</h1>
                 <div class="col-xl-12 stretch-card grid-margin">
                <div class="center-block">
                  <img
                    src="images/about/UjjayantaPalace.jpg"
                    alt="Ujjayanta Palace"
                    
                  />
                 
                </div>
              </div>                
                <p>
                    The erstwhile princely State of Tripura merged with the Indian Union after independence on the 15th October, 1949 and became a Union Territory without legislature with effect from November 1, 1956 and a popular ministry was installed in Tripura on July 1, 1963. Tripura became a full-fledged State on the 21st January, 1972. At present, the State has 8 districts, 23 sub-divisions, 58 blocks and also one Tribal Areas Autonomous District Council (TTAADC). The TTAADC was set up in 1982 under the Seventh Schedule of the Constitution, which was then brought under the Sixth Schedule in 1985. The TTAADC covers about 2/3rd of the total area (68.10% of the territory) of the State. It covers all the eight districts and has 1/3rd population of the State. Tripura is the 3rd smallest State of India located in the North Eastern Region; Tripura has diverse range of topography, people, flora and fauna. Tripura is a landlocked hilly state in northeastern India with altitudes varying from 15 to 940 m above sea level, though the majority of the population lives in the plains. Tripura has a tropical climate and receives considerable rainfall during the monsoons. It is surrounded on the north, west, and south by Bangladesh and is accessible to the rest of India through the Karimganj district of Assam and Aizwal district of Mizoram in the east. The length of its international border with Bangladesh is 856 km (84 per cent of its total border) while it shares a 53 km border with Assam and a 109 km border with Mizoram.The state extends between 22째56'N and 24째32'N and 90째09'E and 92째10'E. Its maximum stretch measures about 184 km (114 mi) from north to south and 113 km (70 mi) from east to west with an area of 10,491.69 sq km.
                </p>
         </div>
       </div>
 </div>