    <div class="container">
         <div class="row">
            <div class="col-sm-12">
              <div class="card" data-aos="fade-up">
                <div class="card-body">
                    <h1 class="mt-3 text-center mb-1">Govt of Tripura</h1>
                    <h2 class="text-center mb-5">List Of Ministers</h2>
                
                    <div class="row ">
                          <div class="col-lg-12">
                            <div class="container px-lg-5">
                                <div class="row mx-lg-n5 text-center">
                                    <div class="col py-3 px-lg-5 border bg-primary text-white ">Name of Minister</div>
                                    <div class="col py-3 px-lg-5 border bg-primary text-white">Name of Department (s) assigned</div>
                                    <div class="col py-3 px-lg-5 border bg-primary text-white">Contact No</div>
                                </div>
                                <div class="row mx-lg-n5 text-center">
                                    <div class="col py-3 px-lg-5 border bg-light">
                                        <img class="text-center rounded" style="width:200px"  src="/images/about/CM.jpg" alt="CM"/>
                                        <p class="text-center text-info mb-0 font-weight-bold">Prof. (Dr.) Manik Saha,</p>
                                        <p class="text-center text-info">Chief Minister</p>

                                    </div>
                                    <div class="col py-3 px-lg-5  border bg-light text-left  text-info ">
                                        <ol class="list-group list-group-flush pr-0 pl-0">
                                            <li class="list-group-item bg-transparent">Home (excluding Jail and Fire & Emergency Service)</li>
                                            <li class="list-group-item bg-transparent">Health & Family Welfare</li>
                                            <li class="list-group-item bg-transparent">PWD (excluding DWS)</li>
                                             <li class="list-group-item bg-transparent">Industry & Commerce (IT)</li>
                                              <li class="list-group-item bg-transparent">General Administration</li>
                                              <li class="list-group-item bg-transparent">Election</li>
                                               <li class="list-group-item bg-transparent">All Policies and any other department which are not allocated to any Minister.</li>
                                            </ol>
                                    </div>
                                    <div class="col py-3 px-lg-5 border bg-light text-info">
                                         <p ><i class="mdi mdi-phone">(0381) 241-4000/4003/4318</i></p> 
                                         <p ><i class="mdi mdi-fax">(0381) 241-3201</i></p> 
                                     
                                    </div>
                                </div>

                                   <div class="row mx-lg-n5 text-center">
                                    <div class="col py-3 px-lg-5 border bg-light">
                                        <img class="text-center rounded" style="width:200px" src="/images/about/Jishnu_Dev_Varma.jpg" alt="Deputy Chief Minister"/>
                                        <p class="text-center text-info mb-0 font-weight-bold">Shri Jishnu Dev Varma,</p>
                                        <p class="text-center text-info">Deputy Chief Minister</p>

                                    </div>
                                    <div class="col py-3 px-lg-5  border bg-light text-left  text-info ">
                                        <ol class="list-group list-group-flush pr-0 pl-0">
                                            <li class="list-group-item bg-transparent">Power</li>
                                            <li class="list-group-item bg-transparent">RD (including Panchayat)</li>
                                            <li class="list-group-item bg-transparent">Finance</li>
                                             <li class="list-group-item bg-transparent">Planning and Coordination (including Statistics)</li>
                                              <li class="list-group-item bg-transparent">Science, Technology & Environment</li>                                           
                                            </ol>
                                    </div>
                                    <div class="col py-3 px-lg-5 border bg-light text-info">                                        
                                           <p ><i class="mdi mdi-phone">(0381) 241-4055</i></p>  
                                           <p><i class="mdi mdi-home">(0381) 232-9488(R)</i></p> 
                                         <p ><i class="mdi mdi-fax">(0381) 241-4060</i></p>  
                                         <p><i class="mdi mdi-email">deputycmtripura@gmail.com</i></p>
                                    </div>
                                </div>

                                   <div class="row mx-lg-n5 text-center">
                                    <div class="col py-3 px-lg-5 border bg-light">
                                        <img class="text-center rounded" style="width:200px" src="/images/about/Narendra_Chandra_Debbarma.jpg" alt="Cabinet Minister"/>
                                        <p class="text-center text-info mb-0 font-weight-bold">Shri Narendra Chandra Debbarma,</p>
                                        <p class="text-center text-info">Cabinet Minister</p>

                                    </div>
                                    <div class="col py-3 px-lg-5  border bg-light text-left  text-info ">
                                        <ol class="list-group list-group-flush pr-0 pl-0">
                                            <li class="list-group-item bg-transparent">Revenue</li>
                                            <li class="list-group-item bg-transparent">Forest</li>                                        
                                            </ol>
                                    </div>
                                    <div class="col py-3 px-lg-5 border bg-light text-info">                                        
                                         <p ><i class="mdi mdi-phone">(0381) 241-4005</i></p>   
                                         <p ><i class="mdi mdi-fax">(0381) 241-4040</i></p>  
                                         <p><i class="mdi mdi-email">office.revenueminister2018@gmail.com</i></p>
                                      
                                    </div>
                                </div>

                                 <div class="row mx-lg-n5 text-center">
                                    <div class="col py-3 px-lg-5 border bg-light">
                                        <img class="text-center rounded" style="width:200px" src="/images/about/Ratan_Lal_Nath.jpg" alt="Cabinet Minister"/>
                                        <p class="text-center text-info mb-0 font-weight-bold">Shri Ratan Lal Nath,</p>
                                        <p class="text-center text-info">Cabinet Minister</p>

                                    </div>
                                    <div class="col py-3 px-lg-5  border bg-light text-left  text-info ">
                                        <ol class="list-group list-group-flush pr-0 pl-0">
                                            <li class="list-group-item bg-transparent">Education (Higher)</li>
                                            <li class="list-group-item bg-transparent">Education (School)</li>                                        
                                           <li class="list-group-item bg-transparent">LAW (including Parliamentary Affairs)</li>  
                                            </ol>
                                    </div>
                                    <div class="col py-3 px-lg-5 border bg-light text-info">                                        
                                         <p ><i class="mdi mdi-phone">(0381) 241-4043</i></p>   
                                         <p ><i class="mdi mdi-fax">(0381) 241-8042</i></p>  
                                         <p><i class="mdi mdi-email">ednminoffice18@gmail.com</i></p>
                                      
                                    </div>
                                </div>
                               
                                  <div class="row mx-lg-n5 text-center">
                                    <div class="col py-3 px-lg-5 border bg-light">
                                        <img class="text-center rounded" style="width:200px" src="/images/about/Pranjit_Singha_Roy.jpg" alt="Cabinet Minister"/>
                                        <p class="text-center text-info mb-0 font-weight-bold">Shri Pranajit Singha Roy,</p>
                                        <p class="text-center text-info">Cabinet Minister</p>

                                    </div>
                                    <div class="col py-3 px-lg-5  border bg-light text-left  text-info ">
                                        <ol class="list-group list-group-flush pr-0 pl-0">
                                            <li class="list-group-item bg-transparent">Agriculture & Farmers' Welfare</li>
                                            <li class="list-group-item bg-transparent">Transport</li>                                        
                                           <li class="list-group-item bg-transparent">Tourism</li>  
                                            </ol>
                                    </div>
                                    <div class="col py-3 px-lg-5 border bg-light text-info">                                        
                                         <p ><i class="mdi mdi-phone">(0381) 241-3366/3263/8069</i></p>                                         
                                    </div>
                                </div>

                                 <div class="row mx-lg-n5 text-center">
                                    <div class="col py-3 px-lg-5 border bg-light">
                                        <img class="text-center rounded" style="width:200px" src="/images/about/Manoj_Kanti_Deb.jpg" alt="Cabinet Minister"/>
                                        <p class="text-center text-info mb-0 font-weight-bold">Shri Manoj Kanti Deb,</p>
                                        <p class="text-center text-info">Cabinet Minister</p>

                                    </div>
                                    <div class="col py-3 px-lg-5  border bg-light text-left  text-info ">
                                        <ol class="list-group list-group-flush pr-0 pl-0">
                                            <li class="list-group-item bg-transparent">Food CS & CA</li>
                                            <li class="list-group-item bg-transparent">Urban Development</li>                                        
                                         
                                            </ol>
                                    </div>
                                    <div class="col py-3 px-lg-5 border bg-light text-info">                                        
                                         <p ><i class="mdi mdi-phone">(0381) 241-9653</i></p>                                         
                                      <p ><i class="mdi mdi-fax"> (0381) 241-3286 / (0381) 241-8104(PBX)</i></p>  
                                         <p><i class="mdi mdi-email">minfcs.tr@gmail.com</i></p>
                                    </div>
                                </div>

                                   <div class="row mx-lg-n5 text-center">
                                    <div class="col py-3 px-lg-5 border bg-light">
                                        <img class="text-center rounded" style="width:200px" src="/images/about/Santana_Chakma.jpg" alt="Cabinet Minister"/>
                                        <p class="text-center text-info mb-0 font-weight-bold">Smti. Santana Chakma,</p>
                                        <p class="text-center text-info">Cabinet Minister</p>

                                    </div>
                                    <div class="col py-3 px-lg-5  border bg-light text-left  text-info ">
                                        <ol class="list-group list-group-flush pr-0 pl-0">
                                            <li class="list-group-item bg-transparent">Social Welfare & Social Education</li>
                                            <li class="list-group-item bg-transparent">Industry & Commerce (excluding Handloom, Handicraft & Sericulture and IT)</li>                                        
                                         
                                            </ol>
                                    </div>
                                    <div class="col py-3 px-lg-5 border bg-light text-info">                                        
                                         <p ><i class="mdi mdi-phone">(0381) 241-4063</i></p>                                         
                                      <p ><i class="mdi mdi-fax">(0381) 241-4063 / (0381) 241-8107(PBX)</i></p>  
                                         <p><i class="mdi mdi-email">santana.swse@gmail.com</i></p>
                                    </div>
                                </div>
                               
                                <div class="row mx-lg-n5 text-center">
                                    <div class="col py-3 px-lg-5 border bg-light">
                                        <img class="text-center rounded" style="width:200px" src="/images/about/Ramprasad_Paul.jpg" alt="Cabinet Minister"/>
                                        <p class="text-center text-info mb-0 font-weight-bold">Shri Ram Prasad Paul,</p>
                                        <p class="text-center text-info">Cabinet Minister</p>

                                    </div>
                                    <div class="col py-3 px-lg-5  border bg-light text-left  text-info ">
                                        <ol class="list-group list-group-flush pr-0 pl-0">
                                            <li class="list-group-item bg-transparent">Jail Department</li>
                                            <li class="list-group-item bg-transparent">Fire & Emergency Service Department</li>                                        
                                          <li class="list-group-item bg-transparent">Welfare of Other Backward Classes</li>
                                           <li class="list-group-item bg-transparent">Welfare of Minorities</li>
                                            </ol>
                                    </div>
                                    <div class="col py-3 px-lg-5 border bg-light text-info">                                        
                                         <p ><i class="mdi mdi-phone">(0381) 241-4047</i></p>                                         
                                      <p ><i class="mdi mdi-fax">(0381) 241-8112(PBX)</i></p>  
                                         <p><i class="mdi mdi-email">ministerhome2021@gmail.com</i></p>
                                    </div>
                                </div>

                                  <div class="row mx-lg-n5 text-center">
                                    <div class="col py-3 px-lg-5 border bg-light">
                                        <img class="text-center rounded" style="width:200px" src="/images/about/Bhagaban_Chandra_Das.jpg" alt="Cabinet Minister"/>
                                        <p class="text-center text-info mb-0 font-weight-bold">Shir Bhagaban Chandra Das,</p>
                                        <p class="text-center text-info">Cabinet Minister</p>

                                    </div>
                                    <div class="col py-3 px-lg-5  border bg-light text-left  text-info ">
                                        <ol class="list-group list-group-flush pr-0 pl-0">
                                            <li class="list-group-item bg-transparent">Welfare of Scheduled Castes</li>
                                            <li class="list-group-item bg-transparent">Animal Resource Development</li>                                        
                                          <li class="list-group-item bg-transparent">Labour</li>
                                      
                                            </ol>
                                    </div>
                                    <div class="col py-3 px-lg-5 border bg-light text-info">                                        
                                         <p ><i class="mdi mdi-phone">(0381) 241-3388</i></p>   
                                         <p><i class="mdi mdi-email">labourscw@gmail.com</i></p>
                                    </div>
                                </div>

                                <div class="row mx-lg-n5 text-center">
                                    <div class="col py-3 px-lg-5 border bg-light">
                                        <img class="text-center rounded" style="width:200px" src="/images/about/Sushanta_Chowdhury.jpg" alt="Cabinet Minister"/>
                                        <p class="text-center text-info mb-0 font-weight-bold">Shri Sushanta Chowdhury,</p>
                                        <p class="text-center text-info">Cabinet Minister</p>

                                    </div>
                                    <div class="col py-3 px-lg-5  border bg-light text-left  text-info ">
                                        <ol class="list-group list-group-flush pr-0 pl-0">
                                            <li class="list-group-item bg-transparent">Information & Culture Affairs</li>
                                            <li class="list-group-item bg-transparent">Youth Affairs & Sports</li>                                        
                                          <li class="list-group-item bg-transparent">PWD (DWS)</li>
                                      
                                            </ol>
                                    </div>
                                    <div class="col py-3 px-lg-5 border bg-light text-info">                                        
                                         <p ><i class="mdi mdi-phone">(0381) 241-4007</i></p>                                         
                                      <p ><i class="mdi mdi-fax">(0381) 241-8108(PBX)</i></p>  
                                         <p><i class="mdi mdi-email">icaminister-tr@tripura.gov.in</i></p>
                                    </div>
                                </div>

                                 <div class="row mx-lg-n5 text-center">
                                    <div class="col py-3 px-lg-5 border bg-light">
                                        <img class="text-center rounded" style="width:200px" src="/images/about/Rampada-Jamatia.jpg" alt="Cabinet Minister"/>
                                        <p class="text-center text-info mb-0 font-weight-bold">Shri Rampada Jamatia,</p>
                                        <p class="text-center text-info">Cabinet Minister</p>

                                    </div>
                                    <div class="col py-3 px-lg-5  border bg-light text-left  text-info ">
                                        <ol class="list-group list-group-flush pr-0 pl-0">
                                            <li class="list-group-item bg-transparent">Tribal Welfare</li>
                                            <li class="list-group-item bg-transparent">Industry & Commerce (Handloom, Handicraft & Sericulture)</li>                                        
                                      
                                      
                                            </ol>
                                    </div>
                                    <div class="col py-3 px-lg-5 border bg-light text-info">                                        
                                         <p ><i class="mdi mdi-phone">(0381) 241-4252</i></p>                                         
                                    
                                    </div>
                                </div>

                               <div class="row mx-lg-n5 text-center">
                                    <div class="col py-3 px-lg-5 border bg-light">
                                        <img class="text-center rounded" style="width:200px" src="/images/about/Prem-Kumar-Reang.jpg" alt="Cabinet Minister"/>
                                        <p class="text-center text-info mb-0 font-weight-bold">Shri Prem Kumar Reang,</p>
                                        <p class="text-center text-info">Cabinet Minister</p>

                                    </div>
                                    <div class="col py-3 px-lg-5  border bg-light text-left  text-info ">
                                        <ol class="list-group list-group-flush pr-0 pl-0">
                                            <li class="list-group-item bg-transparent">Fishery</li>
                                            <li class="list-group-item bg-transparent">Cooperation</li>                                        
                                      
                                      
                                            </ol>
                                    </div>
                                    <div class="col py-3 px-lg-5 border bg-light text-info">                                        
                                         <p ><i class="mdi mdi-phone">(0381) 241-5304</i></p>                                         
                                    
                                    </div>
                                </div>
                            
                        </div>
                      </div>
                    </div>
                   
                </div>
              </div>
            </div>
         </div>
    </div>

